{% load erp_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title> {{ user|get_company_name }} | {{ user|get_company_slogan }} </title>
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{{ STATIC_URL }}/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ STATIC_URL }}./dist/favicon.png" type="image/x-icon"/>
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/agency.css" rel="stylesheet">

    {% if user|web_under_construction %}
      <meta http-equiv="Refresh" content="0; url={% url 'home:under-construction' %}">
    {% endif %}

    {% block head %}
    {% endblock %}

  </head>

  <body id="page-top">
    {{ request.session.web_parameter.parametro2 }}
    {% include 'home/nav_bar.html' %}
    <!-- Header -->
    <header class="masthead" style="background-color: #EEE">
      <div class="container">
        <div class="intro-text" style="height:100px; padding-top:150px;">
          <div class="intro-heading text-uppercase">{{ header_title }}</div>
        </div>
      </div>
    </header>
    {% block content %}{% endblock %}
    {% include 'home/footer.html' %}
  </body>
</html>