{% extends "base/dashboard.html" %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

{% load static %}
{% load erp_tags %}
{% block head %}
            {{ form.media }}
<style>
.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0;
    padding-right: 0;
    height: auto;
    margin-top: -7px;
    height: 31px;
}
.select2-container .select2-selection--single {
    height: 31px;
}
</style>
{% endblock %}
{% block content %}
    <div class="row" style="padding:5px;" >
        <div class="card card-outline col-12">
            <form method="post" class="form">
                <div class="card-header">
                    <a title=" {{ _('Back') }}" href="{{ back_url }}" class="btn"><i class="fas fa-arrow-left"></i></a>
                    <button title=" {{ _('Save') }}" type="submit" class="btn btn-light"><i class="far fa-save"></i></button>
                </div>
                <div class="card-body">
                    {% if object %}
                        <div class="form-group row">
                            <label class="col-sm-2 col-xl-2 col-form-label">{{ _("Name:") }}</label>
                            <div class="col-sm-10 col-xl-5">
                                <h4>{{ object.name }}</h4>
                            </div>
                        </div>
                    {% endif %}
                    {% csrf_token %}
                    {% for campo in form %}
                        <div class="form-group row">
                            <label for="{{ campo.id_for_label }}" class="col-sm-3 col-xl-2 col-form-label">{{ campo.label }}</label>
                            <div class="col-sm-9 col-xl-5">
                                {{ campo }}
                                <span class="help-block">
                                    {% for error in campo.errors %}
                                        <ul>
                                            <li class="text-red">{{ error }}</li>
                                        </ul>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    {% endfor %}
                    <table class="table table-sm table-borderless table-striped">
                        {{ products.management_form }}

                        {% for form in products.forms %}
                            {% if forloop.first %}
                                <thead class="thead-light">
                                    <tr>
                                        {% for field in form.visible_fields %}
                                            <th>{{ field.label|capfirst }}</th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                            {% endif %}
                            <tr class="{% cycle 'table-info' 'table-light' %} formset_row">
                                {% for field in form.visible_fields %}
                                    <td>
                                        {# Include the hidden fields in the form #}
                                        {% if forloop.first %}
                                            {% for hidden in form.hidden_fields %}
                                                {{ hidden }}
                                            {% endfor %}
                                        {% endif %}
                                        {{ field.errors.as_ul }}
                                        {{ field }}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <div class="row">
                        <div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _('Net Amount or Affection:') }}</div>
                        <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right" id="amount_untaxed">$ {{ object.amount_untaxed }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _('Exempt Amount:') }}</div>
                        <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right">$ {{ object.amount_taxt }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _('IVA:') }}</div>
                        <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right">$ ???</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _('Other taxes:') }}</div>
                        <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right">$ ???</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _('Total taxes:') }}</div>
                        <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right">$ ???</div>
                    </div>
                    <hr class="style1">
                    <div class="row">
                        <div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _('Total:') }}</div>
                        <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right">$ {{ object.amount_total }}</div>
                    </div>
                    <div class="row">
                        <div class="col col-sm-7 col-md-8 col-lg-9 col-xl-10 font-weight-bold text-right">{{ _('Margin:') }}</div>
                        <div class="col col-sm-5 col-md-4 col-lg-3 col-xl-2 text-right">$ ???</div>
                    </div>
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
        </form>
    </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'formset/jquery.formset.js' %}"></script>
<script type="text/javascript">
    function InicializaAutocomplete(){
        $('.autocomplete').select2({placeholder: 'Seleccione un producto'});
    }

    $(function() {
        $('.formset_row').formset({
            prefix: '{{ products.prefix }}',
            clone: false,
            addText: '{{ _("add product") }}',
            deleteText: '<li class="fa fa-trash"></li>',
            added:function(row) {
                $('span .select2-selection--single:odd', row || null).css("display", "none");
                $('span .select2-selection--multiple:odd', row || null).css("display", "none");
            }
        });
        $( ".add-row" ).click(function() {
            alert('nueva fila')
            var formCount = $('#id_pysaleorderdetail_set-TOTAL_FORMS').val();
            for (i = 0; i < formCount; i++) {
                alert($('#id_pysaleorderdetail_set-' + i + '-quantity').val());
            }
            /*var formCount = $('#id_gruporacial_set-TOTAL_FORMS').val();
            $('#id_gruporacial_set-' + (formCount-1) + '-raza').select2();
            $('#id_gruporacial_set-' + (formCount-1) + '-porcentaje').inputmask({
                regex: "^([1-9]|[1-9][0-9]|10[0])$",
                rightAlign: true,
                showMaskOnHover: false,
                showMaskOnFocus: false
            });
            $('#id_gruporacial_set-' + (formCount-1) + '-porcentaje').val(null);*/
        });
    });
    /*$('.formset_row').formset({
        addText: 'add product',
        deleteText: '<li class="fa fa-trash"></li>',
        /* esta linea es super importante debe ser el mismo prefijo que pinta el formulario
        prefix: 'pysaleorderdetail_set'
    });*/
    $(function () {
        var formCount = $('#id_pysaleorderdetail_set-TOTAL_FORMS').val();
        /*alert(formCount)
        alert(document.getElementById("amount_untaxed").innerText)*/
        //Initialize Select2 Elements
        $('#id_tipo_procedencia').select2();

        //Initialize Select2 Elements cuando se carga y recarga la página
        for (i = 0; i < formCount; i++) {
            $('#pysaleorderdetail_set-' + i + '-raza').select2();
            $('#pysaleorderdetail_set-' + i + '-porcentaje').inputmask({
                regex: "^([1-9]|[1-9][0-9]|10[0])$",
                rightAlign: true,
                showMaskOnHover: false,
                showMaskOnFocus: false
            });
        }
    })
</script>
{% endblock %}