{% extends "base/dashboard.html" %}
{% load erp_tags %}

{% block content %}
<div class="row" style="padding:10px;">
<div class="card card-outline col-12">
    <div class="card-header">
        {% for btn in breadcrumbs %}
        <a title=" {{ _('Back') }}" href="{% url btn.url %}" class="btn btn-light"><i class="fas fa-arrow-left"></i></a>
        {% endfor %}

        <a title=" {{ _('Edit') }}" href="{% url update_url object.pk %}" class="btn btn-light"><i class="fa fa-pen"></i></a>
        <a title=" {{ _('Delete') }}" href="{% url delete_url object.pk %}" class="btn btn-light"><i class="fas fa-trash"></i></a>

        {% for btn in breadcrumbs %}
        <a title=" {{ _('Archive') }}" href="{% url btn.url %}" class="btn btn-light"><i class="fas fa-archive"></i></a>
        {% endfor %}




        <a title=" {{ _('Duplicate') }}" href="{% url update_url object.pk %}" class="btn btn-light"><i class="fa fa-copy"></i></a>

        {% for btn in breadcrumbs %}
        <!-- <a href="{% url btn.url %}" class="btn btn-primary float-right"><i class="fas fa-undo-alt"></i></a> -->
        {% endfor %}
    </div>
    <div class="card-body">
        <form>
            <div class="form-row">
                {% for field in fields %}
                <div class="form-group col-sm-6">
                    <div class="row">
                        <label for="{{field.field}}" class="col-3 col-form-label">{{field.string}}</label>
                        <div class="col-9">
                            <input type="text" readonly class="form-control-plaintext" id="{{field.field}}" value="{{ object|get_obj_attr:field.field }}"/> 
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </form>
        <div class="row">
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $('.btn-danger').click(function (event) {
        event.preventDefault();
        if (confirm('{{ _("Are you sure you want to delete the form?") }}')){
            window.location = $(this)[0].href;
        }
    });

    $('.btn-warning').click(function (event) {
        event.preventDefault();
        if (confirm('{{ _("Are you sure you want to duplicate the form?") }}')){
            window.location = $(this)[0].href;
        }
    });
</script>
{% endblock %}

